body {
    
     background-image: url('../Images/res1.jpg');
     background-size: cover;
    background-position-y: center;
    margin-top: 150px !important;

}
.container
{
    
    display: grid;
    grid-template-columns: auto auto ;
}

.register-left
{
      text-align: center;
      color: #fff;
      padding: 30px;
      
}

.register-right
{
  border: none;
  /* background-color: #f8f8f8; */
  background-color: rgb(86, 98, 120);
   border-top-left-radius: 10% 50%; 
   border-bottom-left-radius: 10% 50%;
   padding: 50px;
   margin-right: 100px;
}
.register-right h2
{
  text-align: center;
  margin-bottom: 10px;
  color: rgb(20, 12, 12);
}
.register-form
{
   padding: 30px;
}
.register-right .btn
{
   float: right;
   border-radius: 1.5rem;
   border: none;
   width: 120px;
   background-color: #8a6399 ;
   font-weight: 600;
   color: #fff ;
   margin-top: 20px;
   padding: 10px;
    margin-left: 100px;
}
.register-right .btn:hover
{
  background: #1a1818;
}